
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&display=swap');

* {
    margin: 0px;
    font-family: "Gabarito", Helvetica, sans-serif;
}

body {
    background-color: #031112;
    /* Source: https://www.hongkiat.com/blog/beautiful-minimalist-desktop-wallpapers/ */
    background-image: url("wallpaper2.jpg");
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
}

.big_container {
    display: flex;
    flex-direction: row;
    
}

.left_sidebar {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.782);
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: fit-content;
    margin-top: 25vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    width: auto;
    height: 5rem;
    
}

.logo_text {
    font-size: 3rem;
    color: #FFBE2D;
}

.right_panel {
    background-color: antiquewhite;
    height: 100vh;
    width: 50vw;
}

form {
    display: flex;
    flex-direction: column;
}

.intro_text {
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 10vw;
    padding-bottom: 30px;
    font-size: 1.2rem;

}

.form_body {
    border-top: 0.5px solid #8080806d;
    box-shadow: 3px 3px 3px #8080806d;
}

.cta {
    margin: 10px 10px 10px 30px;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.form_inputs {
    /* Todo */
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 400px) {
    .form_inputs {
        display: grid;
        grid-template-columns: 1fr;
    }
    .right_panel {
        height: 120vh;
    }
}

.form_item {
    padding-left: 30px;
    padding-right: 30px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    appearance: none;
    /* Todo: styles for input box */
    background-color: transparent;
    border: none;
}

input:focus {
    background-color: red;
}

.sign-up-section {
    padding-top: 30px;
}

.already-account {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.8rem;
}